{% extends 'app1/layout.html' %}

{% block content %}

<br />
<div align="center">
	<div class="container card-panel hoverable z-depth-5">
		<h1 align="center">
			Welcome to Time Table Managment System
		</h1>
		<br />
		<p>
			<a href="login/" class="btn-floating btn-large cyan pulse">
				&raquo;
			</a>
		</p>
    </div>
    <br />
    <br />
    <div class="container card-panel hoverable z-depth-5">
        <h3>
            Made with Responsive design
        </h3>
        <br />
        <div class="video-container">
            <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <br />
    <br />
</div>
<br />

{% endblock %}